<h1 class="text-darken-2">gProjects</h1>
<p class="welcome-text">Welcome to gProjects: An application to showcase the wonderful projects that students in the Web Development Immersive Program @ Galvanize have produced! Click the link below to see some projects!</p>
<a href="/projects" class="waves-effect waves-light btn orange darken-2"><i class="material-icons left">cloud</i>Projects</a>
