body {

}

a {
  color: #00B7FF;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
}

p.project-description {
  margin-top: .75em !important;
  margin: .75em 0 !important;
}

span.title {
  font-size: 1.5em !important;
}

.brand-logo {
  margin-left: 1em;
}
