body {

}

nav {
  margin-bottom: 1em;
}

a {
  color: #00B7FF;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
}

p.welcome-text {
  font-size: 1.5em;
}

p.project-description {
  margin-top: 0 !important;
  margin-bottom: 1em !important;
}

.collapsible-header {
  font-size: 1.2em !important;
}

.brand-logo {
  margin-left: 1em;
}

a.student-links {
  margin-left: .5em !important;
}

div.student-links  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li.collection-header {
  background-color: #ff9800 !important;
}

a.collection-item {
  font-size: 1.2em !important;
}

div.student-info {
  margin: 0 .8em;
}

.dropdown-content li > span {
  color: black !important;
}

.dropdown-content li.optgroup > span {
  color: orange !important;
}